# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "databake"
description = "Trait that lets structs represent themselves as (const) Rust expressions"
version = "0.1.5"
categories = ["rust-patterns", "memory-management", "development-tools::procedural-macro-helpers", "development-tools::build-utils"]
keywords = ["zerocopy", "serialization", "const", "proc"]

authors.workspace = true
edition.workspace = true
include.workspace = true
license-file.workspace = true
repository.workspace = true
rust-version.workspace = true

[package.metadata.workspaces]
independent = true

[package.metadata.docs.rs]
all-features = true

[features]
derive = ["dep:databake-derive"]

[dependencies]
proc-macro2 = "1.0.27"
quote = "1.0.9"
syn = { version = "2", features = ["derive", "fold"] }
databake-derive = { workspace = true, optional = true}
