# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "litemap"
version = "0.7.0"
rust-version = "1.61.0"
authors = ["The ICU4X Project Developers"]
repository = "https://github.com/unicode-org/icu4x"
edition = "2021"
license = "Unicode-DFS-2016"
keywords = ["sorted", "vec", "map", "hashmap", "btreemap"]
description = "A key-value Map implementation based on a flat, sorted Vec."
documentation = "https://docs.rs/litemap"
readme = "./README.md"
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.workspaces]
independent = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
serde = {version = "1", optional = true, default-features = false, features = ["alloc"]}
yoke = { version = "0.7.1", path = "../yoke", features = ["derive"], optional = true }

[dev-dependencies]
bincode = "1"
bytecheck = "0.6"
criterion = "0.4"
icu_benchmark_macros = { path = "../../tools/benchmark/macros" }
icu_locid = { path = "../../components/locid" }
postcard = { version = "1.0.0", features = ["use-std"], default-features = false }
rkyv = { version = "0.7", features = ["validation"] }
serde = "1"
serde_json = "1"

[features]
bench = []
default = ["alloc"]
alloc = []

# Enables the `testing` module with tools for testing custom stores.
testing = ["alloc"]

[package.metadata.cargo-all-features]
# Bench feature gets tested separately and is only relevant for CI
denylist = ["bench"]

[[test]]
name = "serde"
required-features = ["serde"]

[[test]]
name = "store"
required-features = ["testing"]

[[example]]
name = "litemap_bincode"
path = "benches/bin/litemap_bincode.rs"
required-features = ["serde"]

[[example]]
name = "litemap_postcard"
path = "benches/bin/litemap_postcard.rs"
required-features = ["serde"]

[[bench]]
name = "litemap"
harness = false
required-features = ["serde"]
