# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "litemap"
version = "0.3.0"
authors = ["The ICU4X Project Developers"]
repository = "https://github.com/unicode-org/icu4x"
edition = "2018"
license-file = "LICENSE"
keywords = ["sorted", "vec", "map", "hashmap", "btreemap"]
description = "A key-value Map implementation based on a flat, sorted Vec."
documentation = "https://docs.rs/litemap"
readme = "./README.md"
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.docs.rs]
all-features = true

[dependencies]
serde = {version = "1", optional = true, default-features = false, features = ["alloc"]}
serde_json = { version = "1", optional = true, default-features = false, features = ["alloc"]}
yoke = { version = "0.4.0", path = "../yoke", features = ["derive"], optional = true }

[dev-dependencies]
serde = "1"
serde_json = "1"
rkyv = { version = "0.7", features = ["validation"] }
bytecheck = "0.6"
bincode = "1"
postcard = { version = "0.7", features = ["use-std"] }
icu_locid = { version = "0.5", path = "../../components/locid" }
icu_benchmark_macros = { version = "0.5", path = "../../tools/benchmark/macros" }
criterion = "0.3.4"

[[test]]
name = "serde"
required-features = ["serde"]

[[test]]
name = "store"
required-features = ["testing"]

[[example]]
name = "litemap_bincode"
path = "benches/bin/litemap_bincode.rs"
required-features = ["serde"]

[[example]]
name = "litemap_postcard"
path = "benches/bin/litemap_postcard.rs"
required-features = ["serde"]

[features]
bench = []
serde_serialize = ["serde", "serde_json"]
testing = []

[[bench]]
name = "litemap"
harness = false
required-features = ["serde"]
