# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_segmenter"
description = "Unicode line breaking and text segmentation algorithms for text boundaries analysis"
version = "0.7.0"
authors = ["The ICU4X Project Developers"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license = "Unicode-DFS-2016"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "data/*",
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.cargo-all-features]
skip_optional_dependencies = true

[dependencies]
icu_collections = { version = "1.0.0", path = "../../components/collections" }
icu_provider = { version = "1.0.0", path = "../../provider/core", features = ["macros"] }
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"], optional = true }
zerovec = { version = "0.9", path = "../../utils/zerovec", features = ["yoke"] }
databake = { version = "0.1.0", path = "../../utils/databake", optional = true, features = ["derive"] }
ndarray = { version = "0.15.5", default-features = false, optional = true }
num-traits = { version = "0.2", default-features = false, optional = true, features = ["libm"] }
icu_locid = { version = "1.0.0", path = "../../components/locid" }
utf8_iter = "1.0.3"
displaydoc = { version = "0.2.3", default-features = false }

[dev-dependencies]
criterion = "0.3"
icu_testdata = { path = "../../provider/testdata", default-features = false, features = ["buffer", "icu_segmenter"] }
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde_json = "1.0"
icu = { path = "../../components/icu", features = ["icu_segmenter"]}

[lib]
path = "src/lib.rs"
bench = false  # This option is required for Benchmark CI

[[bench]]
name = "bench"
harness = false

[[test]]
name = "complex_word"
required-features = ["lstm"]

[features]
default = []
std = []
lstm = ["ndarray", "num-traits"]
serde = ["dep:serde", "zerovec/serde", "icu_collections/serde", "icu_provider/serde"]
datagen = ["serde", "databake", "zerovec/databake", "icu_collections/databake"]
