# To get started with Dependabot version updates, you'll need to specify which
# package ecosystems to update and where the package manifests are located.
# Please see the documentation for all configuration options:
# https://docs.github.com/github/administering-a-repository/configuration-options-for-dependency-updates

version: 2
updates:
  - package-ecosystem: "cargo"
    directory: "/"
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: "all"
  - package-ecosystem: "cargo"
    directory: "/ffi/gn"
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: "all"
  - package-ecosystem: "cargo"
    directory: "/ffi/diplomat/c/examples/fixeddecimal_tiny/icu_capi_staticlib_tiny"
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: "all"

  - package-ecosystem: "github-actions"
    directory: "/"
    schedule:
      interval: "weekly"
    allow:
      - dependency-type: "all"
