# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_casemapping"
description = "Unicode case mapping algorithms"
version = "0.7.2"
rust-version = "1.61.0"
authors = ["The ICU4X Project Developers"]
edition = "2021"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
homepage = "https://icu4x.unicode.org"
license = "Unicode-DFS-2016"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.workspaces]
independent = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
displaydoc = { version = "0.2.3", default-features = false }
icu_collections = { version = "1.2.0", path = "../../components/collections" }
icu_locid = { version = "1.2.0", path = "../../components/locid" }
icu_provider = { version = "1.2.0", path = "../../provider/core", features = ["macros"] }
yoke = { version = "0.7.1", path = "../../utils/yoke", features = ["derive"] }
zerovec = { version = "0.9.4", path = "../../utils/zerovec", features = ["yoke"] }
writeable = { version = "0.5.1", path = "../../utils/writeable" }

databake = { version = "0.1.3", path = "../../utils/databake", features = ["derive"], optional = true}
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"], optional = true }

icu_casemapping_data = { path = "data", optional = true }

[features]
std = ["icu_collections/std", "icu_provider/std"]
serde = ["dep:serde", "zerovec/serde", "icu_collections/serde", "icu_provider/serde"]
datagen = ["serde", "dep:databake", "zerovec/databake", "icu_collections/databake"]
data = ["dep:icu_casemapping_data"]


[[test]]
name = "conversions"
required-features = ["data"]
