# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "writeable"
description = "A more efficient alternative to fmt::Display"
version = "0.2.0"
authors = ["The ICU4X Project Developers"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license-file = "../../LICENSE"
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "Cargo.toml",
    "README.md"
]

[dev-dependencies]
criterion = "0.3"
icu_benchmark_macros = { version = "0.1", path = "../../tools/benchmark/macros" }

[lib]
bench = false  # This option is required for Benchmark CI
path = "src/lib.rs"

[features]
default = []

bench = []

[[bench]]
name = "writeable"
harness = false
