# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[workspace]
resolver = "2"
members = [
    "components/calendar",
    "components/calendar/data",
    "components/collator",
    "components/collator/data",
    "components/collections",
    "components/collections/codepointtrie_builder",
    "components/datetime",
    "components/datetime/data",
    "components/decimal",
    "components/decimal/data",
    "components/icu",
    "components/list",
    "components/list/data",
    "components/locid_transform",
    "components/locid_transform/data",
    "components/locid",
    "components/normalizer",
    "components/normalizer/data",
    "components/plurals",
    "components/plurals/data",
    "components/properties",
    "components/properties/data",
    "components/segmenter",
    "components/segmenter/data",
    "components/timezone",
    "components/timezone/data",
    "experimental/bies",
    "experimental/casemapping",
    "experimental/casemapping/data",
    "experimental/compactdecimal",
    "experimental/compactdecimal/data",
    "experimental/displaynames",
    "experimental/displaynames/data",
    "experimental/harfbuzz",
    "experimental/ixdtf",
    "experimental/relativetime",
    "experimental/relativetime/data",
    "ffi/capi_cdylib",
    "ffi/capi_staticlib",
    "ffi/diplomat",
    "ffi/ecma402",
    "ffi/freertos",
    "provider/adapters",
    "provider/blob",
    "provider/core",
    "provider/datagen",
    "provider/fs",
    "provider/macros",
    "provider/repodata",
    "provider/testdata",
    "tools/benchmark/binsize",
    "tools/benchmark/macros",
    "tools/benchmark/memory",
    "tools/depcheck",
    "tools/ffi_coverage",
    "tools/testdata-scripts",
    "tools/tutorials-test",
    "utils/databake",
    "utils/databake/derive",
    "utils/deduplicating_array",
    "utils/fixed_decimal",
    "utils/litemap",
    "utils/pattern",
    "utils/tinystr",
    "utils/tzif",
    "utils/writeable",
    "utils/yoke",
    "utils/yoke/derive",
    "utils/zerofrom",
    "utils/zerofrom/derive",
    "utils/zerovec",
    "utils/zerovec/derive",
]
# Note: Workspaces in subdirectories, such as docs/tutorials/crates, are
# implicitly excluded from the main workspace.
exclude = [
    # GNaw needs to be run from outside the workspace for features to work
    "ffi/gn",
]

# LTO is needed for WASM and other size-optimized builds,
# and it improve the performance of benchmarks
[profile.release]
lto = true

[profile.release-opt-size]
inherits = "release"
opt-level = "s"

# Enable debug information specifically for memory profiling.
# https://docs.rs/dhat/0.2.1/dhat/#configuration
#
# 2021-01-08: This would be nicer as a named profile, e.g. [profile.memory]
# https://github.com/rust-lang/cargo/issues/6988
[profile.bench]
debug = true
debug-assertions = false
