# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/master/LICENSE ).
[workspace]

members = [
    "experimental/segmenter_lstm",
    "components/datetime",
    "components/ecma402",
    "components/icu",
    "components/icu4x",
    "components/locid",
    "components/locid/macros",
    "components/plurals",
    "components/provider_cldr",
    "components/provider_fs",
    "components/provider",
    "components/uniset",
    "resources/testdata",
    "tools/benchmark/memory",
    "utils/fixed_decimal",
    "utils/writeable",
]

# Enable lto for WASM.
# 2020-10-30: This currently doesn't work in .cargo/config:
#   error: options `-C embed-bitcode=no` and `-C lto` are incompatible
[profile.release]
lto = true

# Enable debug information specifically for memory profiling.
# https://docs.rs/dhat/0.2.1/dhat/#configuration
#
# 2021-01-08: This would be nicer as a named profile, e.g. [profile.memory]
# https://github.com/rust-lang/cargo/issues/6988
[profile.bench]
debug = true
