# See https://github.blog/2017-07-06-introducing-code-owners/ for details
# Format of the file follows: https://git-scm.com/docs/gitattributes

# Fallback to core group for crates or folders without specific owners, like docs/.

* @unicode-org/icu4x-sc

# List of components with at least two owners as specified in docs/crate-ownership.

components/locale/               @zbraniecki @nciric
components/plurals/              @zbraniecki @sffc
components/data-provider/        @sffc
components/data-provider-json/   @sffc
