# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

# This is a cargo-make file included in the toplevel Makefile.toml

[tasks.test-ffi]
description = "Run FFI tests"
category = "ICU4X Development"
dependencies = [
    "verify-diplomat-gen",
    "test-capi",
    "test-cpp",
    "build-wearos-ffi",
    "test-nostd",
]

[tasks.verify-diplomat-gen]
description = "Verify that checked-in Diplomat bindings are up to date"
category = "ICU4X Development"
dependencies = [
    "gen-c-diplomat",
    "gen-cpp-diplomat",
    "gen-js-diplomat",
]
script_runner = "@duckscript"
script = '''
exit_on_error true
exec --fail-on-error git diff --exit-code -- ffi
'''

[tasks.test-capi]
description = "Run C API tests"
category = "ICU4X Development"
dependencies = [ "gen-c-diplomat" ]
script_runner = "@duckscript"
script = '''
exit_on_error true
cd ffi/capi/examples/pluralrules
exec make
cd ../fixeddecimal
exec --fail-on-error make
cd ../locale
exec --fail-on-error make
'''

[tasks.test-cpp]
description = "Run CPP tests"
category = "ICU4X Development"
dependencies = [ "gen-cpp-diplomat" ]
script_runner = "@duckscript"
script = '''
exit_on_error true
cd ffi/cpp/examples/pluralrules
exec --fail-on-error make
cd ../fixeddecimal
exec --fail-on-error make
'''

[tasks.test-cppdoc]
description = "Build the cpp tests"
category = "ICU4X Development"
script_runner = "@duckscript"
script = '''
exit_on_error true
cd ffi/cpp/docs;
exec --fail-on-error make html
'''

[tasks.gen-c-diplomat]
description = "Generate C headers for the FFI with Diplomat"
category = "ICU4X Development"
script_runner = "@duckscript"
script = '''
exit_on_error true
cd ffi/capi
exec --fail-on-error diplomat-tool c ./include
'''

[tasks.gen-cpp-diplomat]
description = "Generate C++ headers for the FFI with Diplomat"
category = "ICU4X Development"
script_runner = "@duckscript"
script = '''
exit_on_error true
cd ffi/capi
exec --fail-on-error diplomat-tool cpp ../cpp/include --docs ../cpp/docs/source
'''

[tasks.build-wearos-ffi]
description = "Build ICU4X CAPI for Cortex"
category = "ICU4X FFI"
toolchain = "nightly"
env = { "RUSTFLAGS" = "-Ctarget-cpu=cortex-m33" }
command = "cargo"
args = ["build", "--package", "icu_capi",
        "--target", "thumbv8m.main-none-eabihf",
        "--no-default-features", "--features=wearos",
        "--release",
        "-Zbuild-std"]

[tasks.test-nostd]
description = "Ensure ICU4X core builds on no-std"
category = "ICU4X FFI"
toolchain = "nightly"
command = "cargo"
args = ["build", "--package", "icu", "--target", "thumbv7m-none-eabi"]
