# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

# This is a cargo-make file included in the toplevel Makefile.toml

[tasks.test-ffi]
description = "Run FFI tests"
category = "ICU4X Development"
dependencies = [
    "verify-diplomat-gen",
    "test-capi",
    "test-capi-tiny",
    "test-cpp",
    "build-wearos-ffi",
    "test-nostd",
]

[tasks.verify-diplomat-gen]
description = "Verify that checked-in Diplomat bindings are up to date"
category = "ICU4X Development"
dependencies = [
    "diplomat-gen",
]
script_runner = "@duckscript"
script = '''
exit_on_error true
exec --fail-on-error git diff --exit-code -- ffi
'''

[tasks.diplomat-gen]
description = "Regenerate Diplomat bindings"
category = "ICU4X Development"
dependencies = [
    "diplomat-gen-c",
    "diplomat-gen-cpp",
    "diplomat-gen-js",
]

[tasks.test-capi]
description = "Run C API tests"
category = "ICU4X Development"
dependencies = [ "diplomat-gen-c" ]
script_runner = "@duckscript"
script = '''
exit_on_error true
cd ffi/capi/examples/pluralrules
exec --fail-on-error make
cd ../fixeddecimal
exec --fail-on-error make
cd ../locale
exec --fail-on-error make
'''

[tasks.test-capi-tiny]
description = "Run C API tests for tiny targets"
category = "ICU4X Development"
dependencies = [ "diplomat-gen-c" ]
script_runner = "@duckscript"
script = '''
exit_on_error true
cd ffi/capi/examples/fixeddecimal_tiny
exec --fail-on-error make
exec ls -l
'''

[tasks.test-cpp]
description = "Run CPP tests"
category = "ICU4X Development"
dependencies = [ "diplomat-gen-cpp" ]
script_runner = "@duckscript"
script = '''
exit_on_error true
cd ffi/cpp/examples/pluralrules
exec --fail-on-error make
cd ../fixeddecimal
exec --fail-on-error make
'''

[tasks.test-cppdoc]
description = "Build the cpp tests"
category = "ICU4X Development"
script_runner = "@duckscript"
script = '''
exit_on_error true
cd ffi/cpp/docs;
exec --fail-on-error make html
'''

[tasks.diplomat-gen-c]
description = "Generate C headers for the FFI with Diplomat"
category = "ICU4X Development"
script_runner = "@duckscript"
script = '''
exit_on_error true
cd ffi/capi
# Duckscript doesn't support globs in rm, so we delete the dir
rm -r include/
mkdir include
exec --fail-on-error diplomat-tool c ./include
'''

[tasks.diplomat-gen-cpp]
description = "Generate C++ headers for the FFI with Diplomat"
category = "ICU4X Development"
script_runner = "@duckscript"
script = '''
exit_on_error true
cd ffi/capi


# Duckscript doesn't support globs in rm, so we do this instead
# (we need .gitignore and conf.py to stick around)
include = glob_array ../cpp/include/**/*.hpp
for path in ${include}
    rm ${path}
end
docs = glob_array ../cpp/docs/source/*.rst
for path in ${docs}
    rm ${path}
end
exec --fail-on-error diplomat-tool cpp ../cpp/include --docs ../cpp/docs/source
'''

[tasks.build-wearos-ffi]
description = "Build ICU4X CAPI for Cortex"
category = "ICU4X FFI"
toolchain = "nightly"
env = { "RUSTFLAGS" = "-Ctarget-cpu=cortex-m33" }
command = "cargo"
args = ["build", "--package", "icu_capi",
        "--target", "thumbv8m.main-none-eabihf",
        "--no-default-features", "--features=wearos",
        "--release",
        "-Zbuild-std"]

[tasks.test-nostd]
description = "Ensure ICU4X core builds on no-std"
category = "ICU4X FFI"
toolchain = "nightly"
command = "cargo"
args = ["build", "--package", "icu", "--target", "thumbv7m-none-eabi"]
