// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import "~prismjs/themes/prism.css";

:is(.readable-width) {
  max-width: 120ch;
}

:is(.mb-small) {
  margin-bottom: 5px;
}

.form-control pre {
  white-space: pre-wrap;
  margin: 0;
  font-size: 0.875rem;
}

code[class*="language-"][slot="code"] {
  // Unset all `:not(pre) > code` styles from prismjs, which erroneously matches
  // due to being rendered inside a shadow DOM `<slot>`
  all: unset;
  white-space: pre-wrap;

  .token.operator {
    background: none;
    opacity: .6;
  }
}
