// Import all of Bootstrap's CSS
@import "~bootstrap/scss/bootstrap";
@import "~prismjs/themes/prism.css";

:is(.mb-small) {
  margin-bottom: 5px;
}

:is(code, pre)[class*="language-"] {
  font-size: 0.875rem;
}

:is(.readable-width) {
  max-width: 120ch;
}
