# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "fixed_decimal"
description = "An API for representing numbers in a human-readable form"
version = "0.5.3"
rust-version = "1.61.0"
authors = ["The ICU4X Project Developers"]
edition = "2021"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license = "Unicode-DFS-2016"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.workspaces]
independent = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
displaydoc = { version = "0.2.3", default-features = false }
smallvec = "1.9"
writeable = { version = "0.5.1", path = "../../utils/writeable" }

ryu = { version = "1.0.5", features = ["small"], optional = true }

[dev-dependencies]
criterion = "0.4"
getrandom = { version = "0.2", features = ["js"] }
icu_benchmark_macros = { path = "../../tools/benchmark/macros" }
rand = "0.8"
rand_distr = "0.4"
rand_pcg = "0.3"

[features]
std = []
bench = []

[lib]
bench = false  # This option is required for Benchmark CI
path = "src/lib.rs"

[package.metadata.cargo-all-features]
# Bench feature gets tested separately and is only relevant for CI
denylist = ["bench"]

[[bench]]
name = "fixed_decimal"
harness = false
