# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_benchmark_macros"
authors = ["The ICU4X Project Developers"]
edition = "2018"
version = "0.2.0"
repository = "https://github.com/unicode-org/icu4x"
license-file = "../../../LICENSE"
description = "Internal ICU4X benchmarking crate"
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "README.md"
]

[dependencies]
dhat = { version = "0.2", optional = true }

# This cfg originates in dlmalloc/lib.rs
[target.'cfg(any(target_os = "linux", target_os = "macos", target_arch = "wasm32"))'.dependencies]
dlmalloc = { version = "0.2", optional = true, features = ["global"] }

[features]

# Enables `dhat` in example files to analyze memory allocations.
benchmark_memory = ["dhat"]

# Enables `dlmalloc` in example files to bypass the system allocator.
rust_global_allocator = ["dlmalloc"]
