# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu"
description = "International Components for Unicode"
version = "0.6.0"
authors = ["The ICU4X Project Developers"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license-file = "LICENSE"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.docs.rs]
all-features = true

[dependencies]
icu_calendar = { version = "0.6", path = "../calendar", default-features = false }
icu_collator = { version = "0.6", path = "../collator", default-features = false }
icu_datetime = { version = "0.6", path = "../datetime", default-features = false }
icu_decimal = { version = "0.6", path = "../decimal", default-features = false }
icu_list = { version = "0.6", path = "../list", default-features = false }
icu_locale_canonicalizer = { version = "0.6", path = "../locale_canonicalizer", default-features = false }
icu_locid = { version = "0.6", path = "../locid", default-features = false }
icu_normalizer = { version = "0.6", path = "../normalizer", default-features = false }
icu_plurals = { version = "0.6", path = "../plurals", default-features = false }
icu_properties = { version = "0.6", path = "../properties", default-features = false }

icu_segmenter = { version = "0.6", path = "../../experimental/segmenter", default-features = false, optional = true }
icu_timezone = { version = "0.6", path = "../../experimental/timezone", default-features = false, optional = true }

[dev-dependencies]
icu_testdata = { version = "0.6", path = "../../provider/testdata" }
icu_uniset = { version = "0.5", path = "../../utils/uniset" }

[features]
default = []
std = [
    "icu_calendar/std",
    "icu_datetime/std",
    "icu_decimal/std",
    "icu_list/std",
    "icu_locid/std",
    "icu_plurals/std",
    "icu_properties/std",
]
serde = [
    "icu_calendar/serde",
    "icu_collator/serde",
    "icu_datetime/serde",
    "icu_decimal/serde",
    "icu_list/serde",
    "icu_locale_canonicalizer/serde",
    "icu_locid/serde",
    "icu_plurals/serde",
    "icu_properties/serde",
]
serde_human = [
    "icu_list/serde_human"
]
experimental = ["icu_segmenter", "icu_timezone"]

[[example]]
name = "tui"
required-features = ["serde"]
