# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_provider"
description = "Trait and struct definitions for the ICU data provider"

authors.workspace = true
categories.workspace = true
edition.workspace = true
homepage.workspace = true
include.workspace = true
license-file.workspace = true
repository.workspace = true
rust-version.workspace = true
version.workspace = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
displaydoc = { version = "0.2.3", default-features = false }
icu_locid = { workspace = true }
stable_deref_trait = { version = "1.2.0", default-features = false }
writeable = { workspace = true }
tinystr = { workspace = true }
yoke = { workspace = true, features = ["alloc", "derive"] }
zerofrom = { workspace = true, features = ["alloc", "derive"] }
zerovec = { workspace = true, features = ["derive"]}

# macros
icu_provider_macros = { workspace = true, optional = true }

# log
log = { version = "0.4", optional = true }

# serde
bincode = { version = "1.3", optional = true }
postcard = { version = "1.0.0", default-features = false, optional = true }
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"], optional = true }
serde_json = { version = "1.0", default-features = false, features = ["alloc"], optional = true }

# datagen
erased-serde = { version = "0.3", optional = true, default-features = false, features = ["alloc"] }
databake = { workspace = true, optional = true, features = ["derive"] }

[dev-dependencies]
serde_json = "1.0"
icu_provider_adapters = { workspace = true }
icu_locid_transform = { workspace = true }

[features]
std = ["icu_locid/std"]
sync = []
macros = ["dep:icu_provider_macros"]
# Enable logging of additional context of data errors
logging = ["dep:log"]
# Legacy name
log_error_context = ["logging"]

# Enable BufferProvider and other deserialization infrastructure
serde = ["dep:serde", "yoke/serde"]

# Features for specific serde formats
deserialize_json = ["serde", "dep:serde_json"]
deserialize_bincode_1 = ["serde", "dep:bincode", "std"]
deserialize_postcard_1 = ["serde", "dep:postcard"]

# Dependencies for running data generation
datagen = ["serde", "dep:erased-serde", "dep:databake", "std", "sync"]

[package.metadata.cargo-all-features]
denylist = ["macros"]
# We have tons of features here, limit the amount of tests we run
max_combination_size = 3
