# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_freertos"
description = "C interface to ICU4X"
version = "1.2.1"
rust-version = "1.61.0"
authors = ["The ICU4X Project Developers"]
edition = "2021"
resolver = "2"
repository = "https://github.com/unicode-org/icu4x"
homepage = "https://icu4x.unicode.org"
license = "Unicode-DFS-2016"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "include/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.docs.rs]
all-features = true

[lib]
crate-type = ["staticlib", "rlib"]
path = "src/lib.rs"

[dependencies]
icu_capi = { version = "1.2.0", path = "../diplomat", default-features = false }

[target.'cfg(target_os = "none")'.dependencies]
cortex-m = "0.7.3"
freertos-rust = "0.1.2"

[features]
# Currently we don't enable anything here as WearOS loads data manually, but the feature remains for future use
wearos = []
default = ["icu_capi/default_components"]

[build-dependencies]
rustc_version = "0.4"
