# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_testdata_scripts"
publish = false
version = "0.0.0"
edition = "2021"

[dependencies]
crlify = { workspace = true }
databake = { workspace = true }
icu_datagen = { workspace = true, features = ["legacy_api", "networking", "icu_compactdecimal", "icu_relativetime", "icu_displaynames"] }
icu_locid = { workspace = true, features = ["databake"] }
icu_provider = { workspace = true }

clap = {version = "4", features = ["derive"] }
eyre = "0.6"
log = "0.4"
quote = "1"
simple_logger = { version = "4.1.0", default-features = false }
ureq = "2"
zip = ">=0.5, <0.7"
