# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_pattern"
description = "ICU pattern utilities"
version = "0.4.1"

authors.workspace = true
edition.workspace = true
include.workspace = true
license.workspace = true
repository.workspace = true
rust-version.workspace = true

[package.metadata.workspaces]
independent = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
either = { workspace = true }
displaydoc = { workspace = true }
writeable = { workspace = true, features = ["either"] }

databake = { workspace = true, features = ["derive"], optional = true }
litemap = { workspace = true, optional = true }
serde = { workspace = true, features = ["derive"], optional = true }
yoke = { workspace = true, features = ["derive"], optional = true }
zerovec = { workspace = true, optional = true }

[dev-dependencies]
litemap = { workspace = true, features = ["alloc"] }
zerofrom = { workspace = true, features = ["alloc"] }
zerovec = { workspace = true, features = ["databake", "serde"] }
rmp-serde = { workspace = true }
serde_json = { workspace = true }
postcard = { workspace = true, features = ["use-std"] }

[features]
default = []
alloc = ["serde?/alloc", "writeable/alloc", "zerovec?/alloc"]
databake = ["dep:databake"]
litemap = ["dep:litemap"]
serde = ["alloc", "dep:serde"]
yoke = ["dep:yoke"]
zerovec = ["dep:zerovec", "alloc"]

[lints]
workspace = true
