# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "bies"
description = "Helpers for dealing with BIES vectors with text segmentation applications"
version = "0.3.0-dev"

authors.workspace = true
edition.workspace = true
homepage.workspace = true
include.workspace = true
license.workspace = true
repository.workspace = true
rust-version = "1.82"

[package.metadata.workspaces]
independent = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
itertools = { workspace = true }
partial-min-max = "0.4"
strum = { version = "0.27", features = ["derive"] }
writeable = { workspace = true, features = ["alloc"] }

[dev-dependencies]
rand = { workspace = true }
rand_distr = { workspace = true }
rand_pcg = { workspace = true }
