# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/master/LICENSE ).

[package]
name = "bies"
description = "Helpers for dealing with BIES vectors with text segmentation applications"
version = "0.1.1"
authors = ["The ICU4X Project Developers"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license-file = "../../LICENSE"
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "Cargo.toml",
    "README.md"
]

[dependencies]
num-traits = "0.2"
partial-min-max = "0.4"
writeable = { version = "0.1", path = "../writeable" }

[dev-dependencies]
criterion = "0.3"

[lib]
bench = false  # This option is required for Benchmark CI

[features]
default = []
bench = []

# [[bench]]
# name = "writeable"
# harness = false
