# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "zerovec"
description = "Zero-copy vector backed by a byte array"
version = "0.9.2"
authors = ["The ICU4X Project Developers"]
edition = "2021"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license = "Unicode-DFS-2016"
categories = ["rust-patterns", "memory-management", "caching", "no-std", "data-structures"]
keywords = ["zerocopy", "serialization", "zero-copy", "serde"]
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.workspaces]
independent = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
zerofrom = { version = "0.1.1", path = "../zerofrom" }

zerovec-derive = { version = "0.9.2", path = "./derive", optional = true}

databake = { version = "0.1.3", path = "../../utils/databake", features = ["derive"], optional = true }
serde = { version = "1.0", default-features = false, features = ["alloc"], optional = true }
yoke = { version = "0.7.0", path = "../yoke", optional = true }

[dev-dependencies]
bincode = "1.3"
criterion = "0.3.4"
getrandom = { version = "0.2", features = ["js"] }
iai = "0.1"
icu_benchmark_macros = { path = "../../tools/benchmark/macros" }
postcard = { version = "1.0.0", features = ["use-std"] }
rand = "0.8"
rand_distr = "0.4"
rand_pcg = "0.3"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
yoke = { path = "../yoke", features = ["derive"] }
zerofrom = { path = "../zerofrom", features = ["derive"] }

[features]
std = []
derive = ["dep:zerovec-derive"]

[[bench]]
name = "zerovec"
harness = false

[[bench]]
name = "zerovec_serde"
harness = false
required-features = ["serde"]

[[bench]]
name = "vzv"
harness = false

[[bench]]
name = "zerovec_iai"
harness = false

[[bench]]
name = "zeromap"
harness = false
required-features = ["serde"]

[[example]]
name = "zv_serde"
required-features = ["serde"]
