# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "zerovec"
description = "Zero-copy vector backed by a byte array"
version = "0.2.2"
authors = ["The ICU4X Project Developers"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license-file = "../../LICENSE"
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "Cargo.toml",
    "README.md"
]

[package.metadata.docs.rs]
all-features = true

[dependencies]
either = "1.6.1"
serde = { version = "1.0", optional = true }
yoke = { path = "../yoke", version = "0.2.0", optional = true }

[dev-dependencies]
icu_benchmark_macros = { version = "0.2", path = "../../tools/benchmark/macros" }
criterion = "0.3.4"
iai = "0.1"
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
bincode = "1.3"
rand = "0.8"
rand_pcg = "0.3"
rand_distr = "0.4"
getrandom = { version = "0.2", features = ["js"] }

[features]
bench = []

[[bench]]
name = "zerovec"
harness = false

[[bench]]
name = "zerovec_serde"
harness = false
required-features = ["serde"]

[[bench]]
name = "vzv"
harness = false

[[bench]]
name = "zerovec_iai"
harness = false
