# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).


[package]
name = "icu_unitsconversion"
version = "0.0.0"
license-file = "LICENSE"

rust-version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
homepage.workspace = true
categories.workspace = true
include.workspace = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
databake = { workspace = true, optional = true, features = ["derive"]}
displaydoc = { version = "0.2.3", default-features = false }
icu_locid = { workspace = true }
icu_provider = { workspace = true, features = ["macros"] }
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"], optional = true }
tinystr = { workspace = true, features = ["zerovec"], default-features = false }
zerovec = { workspace = true, features = ["yoke"] }
num-bigint = { version = "0.4.4", default-features = false }
num-traits = { version = "0.2.14", default-features = false }
fraction = { version = "0.13.1", default-features = false }
icu_unitsconversion_data = { workspace = true, optional = true }

[features]
default = ["compiled_data"]
serde = ["dep:serde", "zerovec/serde", "icu_locid/serde", "icu_provider/serde"]
datagen = ["serde", "zerovec/databake", "databake"]
compiled_data = ["dep:icu_unitsconversion_data"]
