# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "bies"
description = "Helpers for dealing with BIES vectors with text segmentation applications"
version = "0.1.1"
authors = ["The ICU4X Project Developers"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license = "Unicode-DFS-2016"
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.workspaces]
independent = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
itertools = "0.10"
num-traits = "0.2"
partial-min-max = "0.4"
strum = { version = "0.20", features = ["derive"] }
writeable = { path = "../../utils/writeable" }

[dev-dependencies]
criterion = "0.3.3"
rand = "0.8"
rand_distr = "0.4"
rand_pcg = "0.3"
