# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "bies"
description = "Helpers for dealing with BIES vectors with text segmentation applications"
version = "0.2.1"

authors.workspace = true
edition.workspace = true
homepage.workspace = true
include.workspace = true
license-file.workspace = true
repository.workspace = true
rust-version.workspace = true

[package.metadata.workspaces]
independent = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
itertools = "0.10"
num-traits = "0.2"
partial-min-max = "0.4"
strum = { version = "0.20", features = ["derive"] }
writeable = { workspace = true }

[dev-dependencies]
rand = "0.8"
rand_distr = "0.4"
rand_pcg = "0.3"

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
criterion = "0.4"
