# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_experimental"
description = "ICU4X pre-release components under active development; all code in this crate is unstable."
version = "0.0.0"
license-file = "LICENSE"

authors.workspace = true
categories.workspace = true
edition.workspace = true
homepage.workspace = true
include.workspace = true
repository.workspace = true
rust-version.workspace = true

[package.metadata.workspaces]
independent = true

[package.metadata.docs.rs]
all-features = true

[dependencies]

icu_collections = { workspace = true }
icu_provider = { workspace = true, features = ["macros", "experimental"] }
icu_locid = { workspace = true }

icu_decimal = { workspace = true }
icu_normalizer = { workspace = true }
icu_plurals = { workspace = true }
icu_properties = { workspace = true }

databake = { workspace = true, optional = true, features = ["derive"] }
fixed_decimal = { workspace = true }
litemap = { workspace = true }
tinystr = { workspace = true, features = ["alloc", "zerovec"] }
writeable = { workspace = true }
zerovec = { workspace = true, features = ["derive", "yoke"] }
zerofrom = { workspace = true }

displaydoc = { version = "0.2.3", default-features = false }
log = { version = "0.4", optional = true }
# if pulling regex 1.9.x is pulling conflicting dependencies
# regex-automata => ^0.3.8
regex = "=1.8.4"
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"], optional = true }

icu_experimental_data = { workspace = true, optional = true }
icu_locid_transform = { workspace = true, optional = true, features = ["compiled_data"] }

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
criterion = "0.4.0"

[dev-dependencies]
icu_locid = { path = "../../components/locid" }

[features]
default = ["compiled_data"]
compiled_data = ["dep:icu_experimental_data", "dep:icu_locid_transform", "icu_decimal/compiled_data", "icu_plurals/compiled_data", "icu_properties/compiled_data", "icu_normalizer/compiled_data"]
datagen = ["serde", "std", "dep:databake", "zerovec/databake", "tinystr/databake", "icu_collections/databake", "std", "log", "icu_provider/datagen"]
ryu = ["fixed_decimal/ryu"]
serde = ["dep:serde", "zerovec/serde", "tinystr/serde", "icu_collections/serde", "icu_decimal/serde", "icu_plurals/serde", "icu_provider/serde"]
std = ["fixed_decimal/std", "icu_decimal/std", "icu_plurals/std", "icu_provider/std", "icu_locid/std"]

bench = []

[[bench]]
name = "transliterate"
path = "benches/transliterate/bench.rs"
harness = false
