# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_datagen"
description = "Generate data for ICU4X DataProvider"
version = "0.4.0"
authors = ["The ICU4X Project Developers"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license-file = "LICENSE"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md",
]

[package.metadata.docs.rs]
all-features = true

[dependencies]
eyre = "0.6"
clap = "2.33"
futures = "0.3"
icu_locid = { version = "0.4", path = "../../components/locid", features = ["std"]}
icu_properties = { version = "0.4", path = "../../components/properties", features = ["std"]}
icu_provider = { version = "0.4", path = "../../provider/core", features = ["std", "log_error_context"]}
icu_provider_blob = { version = "0.4", path = "../../provider/blob", features = ["export"] }
icu_provider_cldr = { version = "0.4", path = "../../provider/cldr", features = ["download"] }
icu_provider_fs = { version = "0.4", path = "../../provider/fs", features = ["export"] }
icu_provider_uprops = { version = "0.4", path = "../../provider/uprops", features = ["log"] }
icu_testdata = { version = "0.4", path = "../../provider/testdata", features = ["metadata"] }
log = "0.4"
reqwest = { version = "0.11", features = ["json", "stream", "gzip"] }
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"] }
simple_logger = "1.12"
tokio = { version = "1.5", features = ["rt-multi-thread", "macros", "fs"] }
writeable = { version = "0.3", path = "../../utils/writeable" }

[[bin]]
name = "icu4x-datagen"
path = "src/bin/datagen.rs"

[[bin]]
name = "icu4x-testdata-download"
path = "src/bin/testdata-download.rs"
