# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_transliterator_parser"
description = "API to parse transform rules into transliterators as defined in UTS35"
version = "0.0.0"
authors = ["The ICU4X Project Developers"]
edition = "2021"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license = "Unicode-DFS-2016"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.docs.rs]
all-features = true

[dev-dependencies]
zerofrom = { version = "0.1.1", path = "../../utils/zerofrom" }

[dependencies]
icu_collections = { path = "../../components/collections" }
icu_properties = { path = "../../components/properties", default-features = false }
icu_provider = { path = "../../provider/core" }
icu_unicodeset_parser = { path = "../unicodeset_parser" }
icu_transliteration = { path = "../transliteration" }

zerovec = { version = "0.9.4", path = "../../utils/zerovec" }

log = "0.4"

[features]
compiled_data = ["icu_properties/compiled_data"]
