# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_personnames"
description = "API for formatting person names according to language-dependent conventions"
version = "0.0.0"

authors.workspace = true
categories.workspace = true
edition.workspace = true
include.workspace = true
license-file.workspace = true
repository.workspace = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
icu_collections = { workspace = true }
icu_locid = { workspace = true }
icu_provider = { workspace = true, features = ["macros"] }
zerovec = { workspace = true, features = ["serde", "derive"] }
databake = { workspace = true, features = ["derive"], optional = true}
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"], optional = true}
litemap = { workspace = true }

[features]
std = ["icu_collections/std", "icu_locid/std", "icu_provider/std"]
serde = ["dep:serde", "zerovec/serde", "icu_collections/serde", "icu_provider/serde"]
datagen = ["serde", "std", "dep:databake", "zerovec/databake", "icu_collections/databake"]
