# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/master/LICENSE ).
[package]
name = "icu_datetime"
description = "API for formatting date and time to user readable textual representation"
version = "0.1.0"
authors = ["The ICU4X Project Developers"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license-file = "../../LICENSE"
categories = ["internationalization"]
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "Cargo.toml",
    "README.md"
]

[dependencies]
icu_locid = { version = "0.1", path = "../locid" }
icu_provider = { version = "0.1", path = "../provider" }
serde = { version = "1.0", features = ["derive"], optional = true }

[dev-dependencies]
criterion = "0.3"
icu_provider = { version = "0.1", path = "../provider" }
icu_testdata = { version = "0.1", path = "../../resources/testdata" }
icu_locid_macros = { version = "0.1", path = "../locid/macros" }
serde_json = "1.0"

[lib]
bench = false  # This option is required for Benchmark CI

[features]
default = ["serde"]
bench = []
serialize_none = []

[[bench]]
name = "datetime"
harness = false
required-features = ["serde"]

[[bench]]
name = "pattern"
harness = false
required-features = ["bench"]

[[test]]
name = "datetime"
required-features = ["serde"]

[[example]]
name = "work_log"
required-features = ["serde"]
