# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/master/LICENSE ).
[package]
name = "icu_datetime"
description = "API for formatting date and time to user readable textual representation"
version = "0.0.1"
authors = ["The ICU4X Project Developers"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license-file = "../../LICENSE"
categories = ["internationalization"]
include = [
    "src/**/*",
    "Cargo.toml",
    "README.md"
]

[dependencies]
icu_locid = { path = "../locid" }
icu_provider = { path = "../provider" }

[dev-dependencies]
criterion = "0.3"
icu_provider = { path = "../provider", features = ["invariant"] }
icu_testdata = { path = "../../resources/testdata" }
icu_locid_macros = { path = "../locid/macros" }
serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"

[lib]
bench = false  # This option is required for Benchmark CI

[features]
default = []

bench = []

[[bench]]
name = "datetime"
harness = false

[[bench]]
name = "pattern"
harness = false
required-features = ["bench"]
