# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_datetime"
description = "API for formatting date and time to user readable textual representation"
version = "1.0.0"
authors = ["The ICU4X Project Developers"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license = "Unicode-DFS-2016"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.cargo-all-features]
skip_optional_dependencies = true
# Bench feature gets tested separately and is only relevant for CI
denylist = ["bench"]

[package.metadata.docs.rs]
all-features = true

[dependencies]
icu_decimal = { version = "1.0.0", path = "../decimal" }
icu_locid = { version = "1.0.0", path = "../locid" }
icu_plurals = { version = "1.0.0", path = "../plurals" }
icu_provider = { version = "1.0.0", path = "../../provider/core", features = ["macros"] }
icu_calendar = { version = "1.0.0", path = "../calendar" }
icu_timezone = { version = "1.0.0", path = "../timezone" }
writeable = { version = "0.5", path = "../../utils/writeable" }
litemap = { version = "0.6", path = "../../utils/litemap" }
tinystr = { version = "0.7", path = "../../utils/tinystr", features = ["alloc", "zerovec"], default-features = false }
zerovec = { version = "0.9", path = "../../utils/zerovec", features = ["yoke"] }
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"], optional = true }
serde-tuple-vec-map = { version = "1.0", optional = true }
smallvec = "1.6"
displaydoc = { version = "0.2.3", default-features = false }
either = { version = "1.6.1", default-features = false }
databake = { version = "0.1.0", path = "../../utils/databake", optional = true, features = ["derive"]}
fixed_decimal = { version = "0.5", path = "../../utils/fixed_decimal" }

[dev-dependencies]
criterion = "0.3"
icu = { path = "../icu", default-features = false }
icu_benchmark_macros = { version = "0.7", path = "../../tools/benchmark/macros" }
icu_provider = { version = "1.0.0", path = "../../provider/core" }
icu_provider_adapters = { path = "../../provider/adapters" }
icu_testdata = { path = "../../provider/testdata", default-features = false, features = ["buffer", "icu_datetime", "icu_timezone", "icu_calendar", "icu_decimal", "icu_plurals"] }

serde = { version = "1.0", features = ["derive"] }
serde_json = "1.0"
bincode = "1.3"

[lib]
path = "src/lib.rs"
bench = false  # This option is required for Benchmark CI

[features]
std = ["icu_provider/std", "icu_locid/std", "icu_calendar/std"]
default = []
bench = ["serde"]
# experimental_skeleton_matching is the minimal set of skeleton features required for datagen.
experimental_skeleton_matching = []
# experimental is the full set of skeleton and component APIs.
experimental = ["experimental_skeleton_matching"]
serde = ["dep:serde", "litemap/serde", "zerovec/serde", "tinystr/serde", "smallvec/serde", "icu_calendar/serde", "icu_decimal/serde", "icu_provider/serde", "icu_plurals/serde", "icu_timezone/serde"]
datagen = ["serde", "experimental_skeleton_matching", "icu_calendar/datagen", "icu_timezone/datagen", "icu_provider/datagen", "std", "databake"]

[[bench]]
name = "datetime"
harness = false
required-features = ["serde"]

[[bench]]
name = "pattern"
harness = false
required-features = ["bench"]

[[test]]
name = "datetime"
required-features = ["serde"]

[[test]]
name = "resolved_components"
required-features = ["experimental"]

[[test]]
name = "skeleton_serialization"
required-features = ["experimental"]

[[example]]
name = "work_log"
required-features = ["serde"]
