# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_provider_blob"
description = "ICU4X data provider that reads from blobs in memory"
version = "1.2.0"
rust-version = "1.61.0"
authors = ["The ICU4X Project Developers"]
edition = "2021"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
homepage = "https://icu4x.unicode.org"
license = "Unicode-DFS-2016"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.docs.rs]
all-features = true

[dependencies]
icu_provider = { version = "1.2.0", path = "../core", features = ["deserialize_postcard_1", "serde"] }
postcard = { version = "1.0.0", default-features = false, features = ["alloc"] }
serde = { version = "1.0", default-features = false, features = ["alloc"] }
writeable = { version = "0.5.1", path = "../../utils/writeable" }
yoke = { version = "0.7.1", path = "../../utils/yoke" }
zerovec = { version = "0.9.4", path = "../../utils/zerovec", features = ["serde", "yoke"] }

log = { version = "0.4", optional = true }

[dev-dependencies]
icu_locid = { path = "../../components/locid", features = ["serde"] }
icu_datagen = { path = "../datagen" }

[features]
std = ["icu_provider/std"]
export = [
    "icu_provider/datagen",
    "log",
    "postcard/alloc",
    "std", 
    "zerovec/serde",
]
