# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_transliteration"
description = "API for Transliteration"
version = "0.0.0"
authors = ["The ICU4X Project Developers"]
edition = "2021"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license = "Unicode-DFS-2016"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.docs.rs]
all-features = true

[dependencies]
icu_provider = { path = "../../provider/core", features = ["macros"] }
icu_collections = { version = "1.2.0", path = "../../components/collections", features = ["serde"] }

zerovec = { version = "0.9.4", path = "../../utils/zerovec", features = ["derive"] }
zerofrom = { version = "0.1.1", path = "../../utils/zerofrom", features = ["derive"] }
yoke = { version = "0.7.1", path = "../../utils/yoke", features = ["derive"] }
databake = { version = "0.1.3", path = "../../utils/databake", features = ["derive"] }

serde = { version = "1.0", features = ["derive"] }

# TODO: Add serde, datagen, compiled_data features
