# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_capi"
description = "C interface to ICU4X"
version = "1.0.0-alpha1"
authors = ["The ICU4X Project Developers"]
edition = "2021"
resolver = "2"
repository = "https://github.com/unicode-org/icu4x"
license = "Unicode-DFS-2016"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "include/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.docs.rs]
all-features = true

[package.metadata.cargo-all-features]
# Omit most optional dependency features from permutation testing
skip_optional_dependencies = true
# Bench feature gets tested separately and is only relevant for CI.
# smaller_test gets tested on the FFI job anyway
# logging enables a feature of a dependency that has no externally visible API changes
denylist = ["bench", "smaller_test", "logging"]

# Please keep the features list in sync with the icu_capi_staticlib crate
[features]
default = ["provider_fs", "deserialize_postcard_07", "deserialize_json"]
provider_fs = ["icu_provider_fs"]
provider_test = ["icu_testdata", "deserialize_postcard_07"]
smaller_test = ["provider_test"]
deserialize_json = ["icu_provider/deserialize_json"]
deserialize_postcard_07 = ["icu_provider/deserialize_postcard_07"]
deserialize_bincode_1 = ["icu_provider/deserialize_bincode_1"]
logging = ["icu_provider/log_error_context", "log"]
# Use the env_logger functionality to log based on environment variables
simple_logger = ["dep:simple_logger"]

[dependencies]
fixed_decimal = { version = "0.4", path = "../../utils/fixed_decimal", features = ["ryu"] }
icu_calendar = { version = "1.0.0-beta1", path = "../../components/calendar"}
icu_collator = { version = "1.0.0-beta1", path = "../../components/collator", features = ["serde"] }
icu_collections = { version = "1.0.0-beta1", path = "../../components/collections"}
icu_datetime = { version = "1.0.0-beta1", path = "../../components/datetime/", features = ["serde"] }
icu_decimal = { version = "1.0.0-beta1", path = "../../components/decimal/", features = ["serde"] }
icu_locid_transform = { version = "1.0.0-beta1", path = "../../components/locid_transform", features = ["serde"] }
icu_locid = { version = "1.0.0-beta1", path = "../../components/locid", features = ["serde"] }
icu_plurals = { version = "1.0.0-beta1", path = "../../components/plurals/", features = ["serde"] }
icu_properties = { version = "1.0.0-beta1", path = "../../components/properties/", features = ["serde", "bidi"] }
icu_provider = { version = "1.0.0-beta1", path = "../../provider/core", features = ["serde"] }
icu_provider_adapters = { version = "1.0.0-beta1", path = "../../provider/adapters" }
icu_provider_blob = { version = "1.0.0-beta1", path = "../../provider/blob" }
icu_segmenter = { version = "1.0.0-alpha1", path = "../../experimental/segmenter", features = ["serde"] }
icu_timezone = { version = "1.0.0-beta1", path = "../../components/timezone" }
tinystr = { path = "../../utils/tinystr", version = "0.6", features = ["alloc"], default-features = false }
unicode-bidi = { version = "0.3.8", default-features = false }
writeable = { version = "0.4", path = "../../utils/writeable/" }

# Run `cargo make diplomat-install` to get the right diplomat binary installed
# The version here can either be a `version = ".."` spec or `git = "https://github.com/rust-diplomat/diplomat", rev = ".."`
# Since this crate is published, Diplomat must be published preceding a new ICU4X release but may use git versions in between
# ALSO MAKE SURE TO UPDATE ffi_coverage/Cargo.toml!
diplomat = { git = "https://github.com/rust-diplomat/diplomat", rev = "dd70de7573e1ef30b312de04bb7e9f64e67bd19a" }
diplomat-runtime = { git = "https://github.com/rust-diplomat/diplomat", rev = "dd70de7573e1ef30b312de04bb7e9f64e67bd19a" }
icu_testdata = { version = "1.0.0-beta1", path = "../../provider/testdata", optional = true }


[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
# Logging is automagical in wasm, we only need this for native
simple_logger = { version = "1.12", optional = true }
log = { version = "0.4" , optional = true}

[target.'cfg(target_arch = "wasm32")'.dependencies]
log = { version = "0.4" }

[target.'cfg(not(any(target_arch = "wasm32", target_os = "none")))'.dependencies]
icu_provider_fs = { version = "1.0.0-beta1", path = "../../provider/fs/", optional = true }
