# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_capi"
description = "C interface to ICU4X"
version = "1.1.0"
authors = ["The ICU4X Project Developers"]
edition = "2021"
resolver = "2"
repository = "https://github.com/unicode-org/icu4x"
license = "Unicode-DFS-2016"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "**/include/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.docs.rs]
all-features = true

[package.metadata.cargo-all-features]
# Bench feature gets tested separately and is only relevant for CI.
# logging enables a feature of a dependency that has no externally visible API changes
denylist = ["logging", "cpp_default", "wasm_default"]

# Please keep the features list in sync with the icu_capi_staticlib/icu_capi_cdylib crates
[features]
default = ["any_provider"]
any_provider = []
buffer_provider = [
    "dep:icu_provider_blob",
    "dep:serde",
    "icu_collator/serde",
    "icu_datetime/serde",
    "icu_decimal/serde",
    "icu_list/serde",
    "icu_locid_transform/serde",
    "icu_locid/serde",
    "icu_normalizer/serde",
    "icu_plurals/serde",
    "icu_properties/serde",
    "icu_provider/serde",
    "icu_provider_adapters/serde",
    "icu_segmenter/serde",
    "icu_testdata?/buffer",
]
provider_fs = ["dep:icu_provider_fs", "buffer_provider"]
provider_test = ["dep:icu_testdata"]
logging = ["icu_provider/log_error_context", "dep:log"]
# Use the env_logger functionality to log based on environment variables
simple_logger = ["dep:simple_logger"]

# meta feature for things we enable by default in C and C++
cpp_default = ["provider_test", "logging", "simple_logger"]

# meta feature for things we enable by default in wasm
wasm_default = ["buffer_provider", "logging"]

[dependencies]
fixed_decimal = { version = "0.5.2", path = "../../utils/fixed_decimal", features = ["ryu"] }
icu_calendar = { version = "1.1.0", path = "../../components/calendar"}
icu_collator = { version = "1.1.0", path = "../../components/collator" }
icu_collections = { version = "1.1.0", path = "../../components/collections"}
icu_datetime = { version = "1.1.0", path = "../../components/datetime/" }
icu_decimal = { version = "1.1.0", path = "../../components/decimal/" }
icu_list = { version = "1.1.0", path = "../../components/list" }
icu_locid_transform = { version = "1.1.0", path = "../../components/locid_transform" }
icu_locid = { version = "1.1.0", path = "../../components/locid" }
icu_normalizer = { version = "1.1.0", path = "../../components/normalizer/" }
icu_plurals = { version = "1.1.0", path = "../../components/plurals/" }
icu_properties = { version = "1.1.0", path = "../../components/properties/", features = ["bidi"] }
icu_provider = { version = "1.1.0", path = "../../provider/core" }
icu_provider_adapters = { version = "1.1.0", path = "../../provider/adapters" }
icu_segmenter = { version = "0.8.0", path = "../../experimental/segmenter" }
icu_timezone = { version = "1.1.0", path = "../../components/timezone" }
tinystr = { version = "0.7.1", path = "../../utils/tinystr", default-features = false }
unicode-bidi = { version = "0.3.8", default-features = false }
writeable = { version = "0.5.1", path = "../../utils/writeable/" }

icu_provider_blob = { version = "1.1.0", path = "../../provider/blob", optional = true }
serde = { version = "1.0", default-features = false, optional = true }

icu_testdata = { version = "1.1.0", path = "../../provider/testdata", optional = true, features = ["icu_segmenter"] }

# Run `cargo make diplomat-install` to get the right diplomat binary installed
# The version here can either be a `version = ".."` spec or `git = "https://github.com/rust-diplomat/diplomat", rev = ".."`
# Since this crate is published, Diplomat must be published preceding a new ICU4X release but may use git versions in between
# ALSO MAKE SURE TO UPDATE ffi_coverage/Cargo.toml!
diplomat = "0.5"
diplomat-runtime = "0.5"


[target.'cfg(not(target_arch = "wasm32"))'.dependencies]
# Logging is automagical in wasm, we only need this for native
simple_logger = { version = "1.12", optional = true }
log = { version = "0.4", optional = true }

[target.'cfg(target_arch = "wasm32")'.dependencies]
log = "0.4"

[target.'cfg(not(any(target_arch = "wasm32", target_os = "none")))'.dependencies]
icu_provider_fs = { version = "1.1.0", path = "../../provider/fs/", optional = true }
