# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_properties"
description = "Definitions for Unicode properties"
version = "0.5.0"
authors = ["The ICU4X Project Developers"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license-file = "LICENSE"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.cargo-all-features]
skip_optional_dependencies = true
# Bench feature gets tested separately and is only relevant for CI
denylist = ["bench"]

[package.metadata.docs.rs]
all-features = true

[dependencies]
displaydoc = { version = "0.2.3", default-features = false }
icu_codepointtrie = { version = "0.3.3", path = "../../utils/codepointtrie"}
icu_provider = { version = "0.5", path = "../../provider/core", features = ["macros"] }
icu_provider_fs = {version = "0.5.0", path = "../../provider/fs" }
icu_uniset = { version = "0.4.1", path = "../../utils/uniset"}
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"], optional = true }
zerovec = { version = "0.6", path = "../../utils/zerovec", features = ["derive"] }
unicode-bidi = { git = "https://github.com/servo/unicode-bidi", optional = true , default-features = false }

[dev-dependencies]
icu = { path = "../icu", default-features = false }
icu_testdata = { version = "0.5", path = "../../provider/testdata" }

[lib]
bench = false  # This option is required for Benchmark CI
path = "src/lib.rs"

[features]
std = ["icu_provider/std"]
default = []
serde = ["dep:serde", "zerovec/serde", "icu_uniset/serde", "icu_codepointtrie/serde"]
datagen = ["serde", "zerovec/serde_serialize", "icu_uniset/serde_serialize", "icu_codepointtrie/serde_serialize"]
bidi = [ "dep:unicode-bidi" ]