# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_capi"
description = "C interface to ICU4X"
version = "0.1.0"
authors = ["The ICU4X Project Developers"]
edition = "2018"
resolver = "2"
repository = "https://github.com/unicode-org/icu4x"
license-file = "../../LICENSE"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "include/**/*",
    "Cargo.toml",
    "README.md"
]

[package.metadata.docs.rs]
all-features = true

[package.metadata.cargo-all-features]
# Omit most optional dependency features from permutation testing
skip_optional_dependencies = true
# Bench feature gets tested separately and is only relevant for CI
# wearos/freertos are not relevant on normal platforms,
# and smaller_static gets tested on the FFI job anyway
denylist = ["bench", "wearos", "freertos", "smaller_static"]

[lib]
crate-type = ["staticlib", "rlib", "cdylib"]
path = "src/lib.rs"

[features]
default = ["provider_fs", "provider_static", "rust_global_allocator"]
wearos = ["smaller_static", "freertos"]

provider_fs = ["icu_provider_fs"]
provider_static = ["icu_testdata"]
smaller_static = ["provider_static"]
freertos = ["freertos-rust", "cortex-m"]

# Enables `dlmalloc` in example files to bypass the system allocator.
rust_global_allocator = ["dlmalloc"]

[dependencies]
fixed_decimal = { path = "../../utils/fixed_decimal" }
icu_decimal = { path = "../../components/decimal/" }
icu_locale_canonicalizer = { path = "../../components/locale_canonicalizer" }
icu_locid = { path = "../../components/locid" }
icu_plurals = { path = "../../components/plurals/" }
icu_provider = { path = "../../provider/core", features = ["provider_serde"] }
tinystr = { version = "0.4.10", features = ["alloc"], default-features = false }
writeable = { path = "../../utils/writeable/" }

# make sure to update GitHub actions to use the appropriate revision
diplomat = { git = "https://github.com/rust-diplomat/diplomat", rev = "1307d215e1c8482bfa37082427389b240a81481d" }
diplomat-runtime = { git = "https://github.com/rust-diplomat/diplomat", rev = "1307d215e1c8482bfa37082427389b240a81481d" }
icu_testdata = { version = "0.3", path = "../../provider/testdata", default-features = false, features = ["static"], optional = true }

# This cfg originates in dlmalloc/lib.rs
[target.'cfg(any(target_os = "linux", target_os = "macos", target_arch = "wasm32"))'.dependencies]
dlmalloc = { version = "0.2", optional = true, features = ["global"] }

[target.'cfg(target_arch = "wasm32")'.dependencies]
log = { version = "0.4" }

[target.'cfg(not(any(target_arch = "wasm32", target_os = "none")))'.dependencies]
icu_provider_fs = { path = "../../provider/fs/", optional = true }

[target.'cfg(target_os = "none")'.dependencies]
freertos-rust = { version = "0.1.2", optional = true }
cortex-m = { version = "0.7.3", optional = true }
