# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_capi"
description = "C interface to ICU4X"
version = "0.1.0"
authors = ["The ICU4X Project Developers"]
edition = "2018"
repository = "https://github.com/unicode-org/icu4x"
license-file = "../../LICENSE"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "include/**/*",
    "Cargo.toml",
    "README.md"
]

[package.metadata.docs.rs]
all-features = true

[lib]
crate-type = ["staticlib", "rlib", "cdylib"]
path = "src/lib.rs"

[dependencies]
fixed_decimal = { path = "../../utils/fixed_decimal" }
icu_decimal = { path = "../../components/decimal/" }
icu_locale_canonicalizer = { path = "../../components/locale_canonicalizer" }
icu_locid = { path = "../../components/locid" }
icu_plurals = { path = "../../components/plurals/" }
icu_provider = { path = "../../provider/core" }
icu_provider_fs = { path = "../../provider/fs/" }
tinystr = "0.4.5"
writeable = { path = "../../utils/writeable/" }

[target.'cfg(target_arch = "wasm32")'.dependencies]
log = { version = "0.4" }
icu_testdata = { version = "0.2", path = "../../provider/testdata" }
