# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

# This is a cargo-make file included in the toplevel Makefile.toml

###### CI TASKS

[tasks.testdata]
description = "Rebuild all ICU4X testdata from source data checked into the repository"
category = "ICU4X Data"
command = "cargo"
args = [
    "run",
    "--bin=make-testdata",
]

[tasks.testdata-check]
description = "Rebuild ICU4X testdata and ensure that the working copy is clean"
category = "ICU4X Data"
dependencies = [
    "testdata",
    "testdata-hello-world",
]
script_runner = "@duckscript"
script = '''
exit_on_error true

output = exec git status --porcelain=v1 provider/testdata/data provider/fs/tests/data provider/blob/tests/data
output_length = length ${output.stdout}
if greater_than ${output_length} 0
    msg = array "" ""
    array_push ${msg} "Test data needs to be updated. Please run `cargo make testdata`:"
    array_push ${msg} ""
    array_push ${msg} "${output.stdout}"
    msg = array_join ${msg} "\n"
    trigger_error ${msg}
end
'''

[tasks.testdata-hello-world-json]
description = "Build the Hello World JSON tree."
category = "ICU4X Data"
command = "cargo"
args = [
    "run",
    "--bin=icu4x-datagen",
    "--",
    "--keys=core/helloworld@1",
    "--locales=full",
    "--format=dir",
    "--out=provider/fs/tests/data/json",
    "--overwrite",
]

[tasks.testdata-hello-world-bincode]
description = "Build the Hello World bincode tree."
category = "ICU4X Data"
command = "cargo"
args = [
    "run",
    "--bin=icu4x-datagen",
    "--",
    "--keys=core/helloworld@1",
    "--locales=full",
    "--format=dir",
    "--syntax=bincode",
    "--out=provider/fs/tests/data/bincode",
    "--overwrite",
]

[tasks.testdata-hello-world-postcard]
description = "Build the Hello World postcard tree."
category = "ICU4X Data"
command = "cargo"
args = [
    "run",
    "--bin=icu4x-datagen",
    "--",
    "--keys=core/helloworld@1",
    "--locales=full",
    "--format=dir",
    "--syntax=postcard",
    "--out=provider/fs/tests/data/postcard",
    "--overwrite",
]

[tasks.testdata-hello-world-blob]
description = "Build the Hello World postcard testdata file."
category = "ICU4X Data"
command = "cargo"
args = [
    "run",
    "--bin=icu4x-datagen",
    "--",
    "--keys=core/helloworld@1",
    "--locales=full",
    "--format=blob",
    "--out=provider/blob/tests/data/hello_world.postcard",
    "--overwrite",
]

[tasks.testdata-hello-world-baked]
description = "Build the Hello World baked module."
category = "ICU4X Data"
command = "cargo"
args = [
    "run",
    "--bin=icu4x-datagen",
    "--",
    "--keys=core/helloworld@1",
    "--locales=full",
    "--format=mod",
    "--pretty",
    "--out=provider/core/tests/data/baked",
    "--overwrite",
]

[tasks.testdata-hello-world]
description = "Build all three the Hello World outputs."
category = "ICU4X Data"
dependencies = [
    "testdata-hello-world-json",
    "testdata-hello-world-bincode",
    "testdata-hello-world-postcard",
    "testdata-hello-world-blob",
    "testdata-hello-world-baked",
]

###### END CI TASKS


[tasks.full-data]
description = "Builds a complete postcard file from latest CLDR and icu_exportdata."
category = "ICU4X Data"
command = "cargo"
args = [
    "run",
    "--bin=icu4x-datagen",
    "--",
    "--keys=all",
    "--locales=full",
    "--format=blob",
    "--out=/dev/null",
    "--overwrite",
]

[tasks.testdata-download-sources]
description = "Download fresh CLDR JSON, overwriting the existing CLDR JSON."
category = "ICU4X Data"
command = "cargo"
args = [
    "run",
    "--bin=icu4x-testdata-download-sources",
    "--",
    "-v",
]

[tasks.hello-world-lang-de]
description = "Build Hello World data for 'de'"
category = "ICU4X Data"
command = "cargo"
args = [
    "run",
    "--bin=icu4x-datagen",
    "--",
    "--keys=core/helloworld@1",
    "--locales=de",
    "--format=dir",
    "--out=provider/adapters/tests/data/langtest/de",
    "--overwrite",
]

[tasks.hello-world-lang-ro]
description = "Build Hello World data for 'ro'"
category = "ICU4X Data"
command = "cargo"
args = [
    "run",
    "--bin=icu4x-datagen",
    "--",
    "--keys=core/helloworld@1",
    "--locales=ro",
    "--format=dir",
    "--out=provider/adapters/tests/data/langtest/ro",
    "--overwrite",
]

[tasks.hello-world-lang-all]
description = "Build all Hello World languages."
category = "ICU4X Data"
dependencies = [
    "hello-world-lang-de",
    "hello-world-lang-ro",
]