# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

# This is a cargo-make file included in the toplevel Makefile.toml

# C/C++ tasks

[tasks.test-c]
description = "Run C API tests"
category = "ICU4X Development"
script_runner = "@duckscript"
script = '''
exit_on_error true
exec --fail-on-error make -C ffi/capi/c/examples/pluralrules
exec --fail-on-error make -C ffi/capi/c/examples/fixeddecimal
exec --fail-on-error make -C ffi/capi/c/examples/locale
'''

[tasks.test-c-tiny]
description = "Run C API tests for tiny targets"
category = "ICU4X Development"
condition = { env_not_set = ["ICU4X_BUILDING_WITH_FORCED_NIGHTLY"] }
dependencies = ["install-nightly", "install-unknown-linux"]
script_runner = "@duckscript"
script = '''
exit_on_error true
exec --fail-on-error make -C ffi/capi/c/examples/fixeddecimal_tiny
exec --fail-on-error make -C ffi/capi/c/examples/segmenter_tiny
'''

[tasks.test-cpp]
description = "Run CPP tests"
category = "ICU4X Development"
script_runner = "@duckscript"
script = '''
exit_on_error true
exec --fail-on-error make -C ffi/capi/cpp/examples/properties
exec --fail-on-error make -C ffi/capi/cpp/examples/segmenter 
exec --fail-on-error make -C ffi/capi/cpp/examples/datetime 
exec --fail-on-error make -C ffi/capi/cpp/examples/fixeddecimal 
exec --fail-on-error make -C ffi/capi/cpp/examples/locale 
exec --fail-on-error make -C ffi/capi/cpp/examples/pluralrules 
exec --fail-on-error make -C ffi/capi/cpp/examples/bidi 
exec --fail-on-error make -C ffi/capi/cpp/examples/fixeddecimal_wasm test-host
'''


# JS/WASM tasks

[tasks.test-js]
description = "Run JS tests"
category = "ICU4X Development"
dependencies = ["install-nightly", "install-wasm"]
command = "npm"
args = ["-C", "ffi/capi/js/package", "install-ci-test"]

[tasks.test-tinywasm]
description = "Test the Tiny WASM example"
category = "ICU4X Development"
condition = { env_not_set = ["ICU4X_BUILDING_WITH_FORCED_NIGHTLY"] }
dependencies = ["install-nightly", "install-wasm"]
command = "make"
args = ["-C", "ffi/capi/js/examples/tinywasm", "build", "test"]

# no_std tasks

[tasks.check-freertos-wearos]
description = "Build ICU4X CAPI for Cortex"
category = "ICU4X FFI"
dependencies = ["install-nightly", "install-cortex-8"]
toolchain = "${ICU4X_NIGHTLY_TOOLCHAIN}"
env = { RUSTFLAGS = "-Ctarget-cpu=cortex-m33 -Cpanic=abort -Copt-level=s" }
command = "cargo"
args = ["check", "--package", "icu_freertos",
        "--target", "thumbv8m.main-none-eabihf",
        "--no-default-features", "--features=wearos",
        "-Zbuild-std=std,panic_abort", "-Zbuild-std-features=panic_immediate_abort"]


# Diplomat gen

[tasks.diplomat-gen]
description = "Regenerate Diplomat bindings"
category = "ICU4X Development"
dependencies = [
    "diplomat-gen-c",
    "diplomat-gen-cpp",
    "diplomat-gen-js",
]

[tasks.verify-diplomat-gen]
description = "Verify that checked-in Diplomat bindings are up to date"
category = "ICU4X Development"
dependencies = [
    "diplomat-gen",
]
script_runner = "@duckscript"
script = '''
exit_on_error true
code = exec --get-exit-code git diff --exit-code -- ffi/capi
if ${code}
    trigger_error "Diplomat bindings need to be regenerated. Please run `cargo make diplomat-gen` and commit. (Testing against different Diplomat versions may omit install step.)"
end
'''

[tasks.diplomat-gen-c]
description = "Generate C headers for the FFI with Diplomat"
category = "ICU4X Development"
command = "cargo"
args = ["run", "-p", "diplomat-gen", "c"]

[tasks.diplomat-gen-cpp]
description = "Generate C++ headers for the FFI with Diplomat"
category = "ICU4X Development"
command = "cargo"
args = ["run", "-p", "diplomat-gen", "cpp"]

[tasks.diplomat-gen-js]
description = "Generate JS bindings for the FFI with Diplomat"
category = "ICU4X Development"
command = "cargo"
args = ["run", "-p", "diplomat-gen", "js"]

# Diplomat coverage

[tasks.diplomat-coverage]
description = "Produces the list of ICU APIs that are not exported through Diplomat"
category = "ICU4X Development"
condition = { env_not_set = ["ICU4X_BUILDING_WITH_FORCED_NIGHTLY"] }
dependencies = ["install-nightly"]
command = "cargo"
args = ["run", "-p=icu_ffi_coverage", "--", "ffi/capi/tests/missing_apis.txt"]

[tasks.verify-diplomat-coverage]
description = "Verify that checked-in Diplomat coverage is up to date"
category = "ICU4X Development"
dependencies = [
    "diplomat-coverage",
]
script_runner = "@duckscript"
script = '''
exit_on_error true
code = exec --get-exit-code git diff --exit-code -- ffi/capi/tests
if ${code}
    trigger_error "Diplomat coverage dump need to be regenerated. Please run `cargo make diplomat-coverage` and commit."
end
'''


# Install tasks

[tasks.install-unknown-linux]
description = "Installs the unknown-linux target"
category = "ICU4X Development"
dependencies = ["install-nightly"]
command = "rustup"
args = ["target", "add", "x86_64-unknown-linux-gnu", "--toolchain=${ICU4X_NIGHTLY_TOOLCHAIN}"]

[tasks.install-emscripten]
description = "Installs the emscripten target"
category = "ICU4X Development"
dependencies = ["install-nightly"]
command = "rustup"
args = ["target", "add", "wasm32-unknown-emscripten", "--toolchain=${ICU4X_NIGHTLY_TOOLCHAIN}"]

[tasks.install-wasm]
description = "Installs the wasm target"
category = "ICU4X Development"
dependencies = ["install-nightly"]
command = "rustup"
args = ["target", "add", "wasm32-unknown-unknown", "--toolchain=${ICU4X_NIGHTLY_TOOLCHAIN}"]

[tasks.install-cortex-8]
description = "Install the thumbv8m target"
category = "ICU4X FFI"
dependencies = ["install-nightly"]
toolchain = "${ICU4X_NIGHTLY_TOOLCHAIN}"
command = "rustup"
args = ["target", "add", "thumbv8m.main-none-eabihf"]

# Unused tasks

[tasks.test-cpp-emscripten]
description = "Run the C++-emscripten test (needs emsdk)"
category = "ICU4X Development"
dependencies = ["install-nightly", "install-emscripten"]
command = "make"
args = ["-C", "ffi/capi/cpp/examples/fixeddecimal_wasm", "test"]
