# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "tinystr"
version = "0.7.1"
description = "A small ASCII-only bounded length string representation."
authors = ["The ICU4X Project Developers"]
edition = "2021"
repository = "https://github.com/unicode-org/icu4x"
license = "Unicode-DFS-2016"
keywords = ["string", "str", "small", "tiny", "no_std"]
categories = ["data-structures"]
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.workspaces]
independent = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
displaydoc = { version = "0.2.3", default-features = false }

serde = { version = "1.0.123", default-features = false, features = ["alloc"], optional = true }
zerovec = { version = "0.9.2", path = "../../utils/zerovec", optional = true }
databake = { version = "0.1.3", path = "../../utils/databake", optional = true }

[dev-dependencies]
bincode = "1.3"
criterion = "0.3"
postcard = { version = "1.0.0", features = ["use-std"] }
rand = { version = "0.8.5", features = ["small_rng"] }
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }
tinystr_old = { version = "0.4", package = "tinystr", features = ["serde"] }

[features]
default = ["alloc"]
alloc = []
std = []

[[test]]
name = "serde"
required-features = ["serde"]

[[bench]]
name = "overview"
harness = false

[[bench]]
name = "construct"
harness = false

[[bench]]
name = "read"
harness = false

[[bench]]
name = "serde"
harness = false
required-features = ["serde"]
