# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_provider_fs"
description = "ICU4X data provider that reads from structured data files"
version = "1.2.1"

authors.workspace = true
categories.workspace = true
edition.workspace = true
homepage.workspace = true
include.workspace = true
license-file.workspace = true
repository.workspace = true
rust-version.workspace = true

[package.metadata.docs.rs]
all-features = true

[dependencies]
displaydoc = { version = "0.2.3", default-features = false }
icu_provider = { workspace = true, features = ["serde", "std"] }
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"] }
serde-json-core = { version = "0.4", default-features = false, features = ["std"] }

# Dependencies for the export feature
bincode = { version = "1.3", optional = true }
crlify = { workspace = true, optional = true }
log = { version = "0.4", optional = true }
postcard = { version = "1.0.0", features = ["alloc"], default-features = false, optional = true }
serde_json = { version = "1.0", optional = true }

[dev-dependencies]
icu_benchmark_macros = { workspace = true }
icu_locid = { workspace = true, features = ["serde"] }
icu_provider = { workspace = true, features = ["deserialize_json", "deserialize_bincode_1", "deserialize_postcard_1", "datagen"] }
icu_datagen = { workspace = true }
writeable = { workspace = true }

[target.'cfg(not(target_arch = "wasm32"))'.dev-dependencies]
criterion = "0.4"

[features]
# Enables the "export" module and FilesystemExporter
export = [
    "dep:bincode",
    "dep:crlify",
    "dep:log",
    "dep:postcard",
    "dep:serde_json",
    "icu_provider/datagen",
    "icu_provider/deserialize_bincode_1",
    "icu_provider/deserialize_json",
    "icu_provider/deserialize_postcard_1",
]
bench = []

[package.metadata.cargo-all-features]
# Bench feature gets tested separately and is only relevant for CI
denylist = ["bench"]

[[bench]]
name = "provider_fs"
harness = false
