# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_provider_fs"
description = "ICU4X data provider that reads from structured data files"
version = "1.2.1"
rust-version = "1.61.0"
authors = ["The ICU4X Project Developers"]
edition = "2021"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
homepage = "https://icu4x.unicode.org"
license = "Unicode-DFS-2016"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.docs.rs]
all-features = true

[dependencies]
displaydoc = { version = "0.2.3", default-features = false }
icu_provider = { version = "1.2.0", path = "../core", features = ["serde", "std"] }
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"] }
serde-json-core = { version = "0.4", default-features = false, features = ["std"] }
writeable = { version = "0.5.1", path = "../../utils/writeable" }

# Dependencies for the export feature
bincode = { version = "1.3", optional = true }
crlify = { version = "1.0.1", path = "../../utils/crlify", optional = true }
log = { version = "0.4", optional = true }
postcard = { version = "1.0.0", features = ["alloc"], default-features = false, optional = true }
serde_json = { version = "1.0", optional = true }

[dev-dependencies]
criterion = "0.4"
icu_benchmark_macros = { path = "../../tools/benchmark/macros" }
icu_locid = { path = "../../components/locid", features = ["serde"] }
icu_provider = { path = "../core", features = ["deserialize_json", "deserialize_bincode_1", "deserialize_postcard_1", "datagen"] }
icu_datagen = { path = "../datagen" }

[features]
# Enables the "export" module and FilesystemExporter
export = [
    "dep:bincode",
    "dep:crlify",
    "dep:log",
    "dep:postcard",
    "dep:serde_json",
    "icu_provider/datagen",
    "icu_provider/deserialize_bincode_1",
    "icu_provider/deserialize_json",
    "icu_provider/deserialize_postcard_1",
]
bench = []

[lib]
path = "src/lib.rs"

[package.metadata.cargo-all-features]
# Bench feature gets tested separately and is only relevant for CI
denylist = ["bench"]

[[bench]]
name = "provider_fs"
harness = false
