# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_segmenter"
description = "Unicode line breaking and text segmentation algorithms for text boundaries analysis"
version = "1.2.1"
rust-version = "1.61.0"
authors = ["The ICU4X Project Developers"]
edition = "2021"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
homepage = "https://icu4x.unicode.org"
license = "Unicode-DFS-2016"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.docs.rs]
all-features = true

[dependencies]
displaydoc = { version = "0.2.3", default-features = false }
icu_collections = { version = "1.2.0", path = "../../components/collections" }
icu_locid = { version = "1.2.0", path = "../../components/locid" }
icu_provider = { version = "1.2.0", path = "../../provider/core", features = ["macros"] }
utf8_iter = "1.0.3"
zerovec = { version = "0.9.4", path = "../../utils/zerovec", features = ["yoke"] }

databake = { version = "0.1.3", path = "../../utils/databake", optional = true, features = ["derive"] }
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"], optional = true }

libm = { version = "0.2", default-features = false, optional = true }

icu_segmenter_data = { path = "data", optional = true }
icu_locid_transform = { path = "../../components/locid_transform", features = ["data"], optional = true }

[dev-dependencies]
criterion = "0.4"
icu_properties = { path = "../properties", features = ["data"] }
serde = { version = "1.0", default-features = false, features = ["derive"] }
serde_json = "1.0"
icu = { path = "../../components/icu" }
icu_provider_fs = { path = "../../provider/fs" }
icu_provider = { path = "../../provider/core", features = ["deserialize_postcard_1"] }
icu_provider_adapters = { path = "../../provider/adapters" }
itertools = "0.10"

[features]
default = ["auto"]
std = ["icu_collections/std", "icu_locid/std", "icu_provider/std"]
serde = ["dep:serde", "zerovec/serde", "icu_collections/serde", "icu_provider/serde"]
datagen = ["serde", "dep:databake", "zerovec/databake", "icu_collections/databake"]
lstm = ["dep:libm"]
auto = ["lstm"] # Enabled try_new_auto_unstable constructors
data = ["dep:icu_segmenter_data"]

[lib]
path = "src/lib.rs"
bench = false  # This option is required for Benchmark CI

[[bench]]
name = "bench"
harness = false

[[test]]
name = "complex_word"
required-features = ["auto"]
