# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_datagen_dart"

publish = false

version.workspace = true
rust-version.workspace = true
authors.workspace = true
edition.workspace = true
repository.workspace = true
homepage.workspace = true
license.workspace = true
categories.workspace = true
include.workspace = true

[dependencies]
icu = { workspace = true, features = ["serde"] }
icu_datagen.workspace = true
icu_provider = { workspace = true, features = ["datagen"] }
icu_provider_blob = { workspace = true, features = ["export"] }

clap = { version = "4", features = ["derive"] }
eyre = "0.6"
log = "0.4"
serde = "1"
simple_logger = { version = "4.1.0", default-features = false }

[build-dependencies]
icu_datagen = { workspace = true, features = ["networking", "use_wasm", "provider"] }
icu_provider_blob = { workspace = true, features = ["export"] }
log = "0.4"
simple_logger = { version = "4.1.0", default-features = false }
