# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_capi_cdylib"
description = "C interface to ICU4X"
version = "0.1.0"
authors = ["The ICU4X Project Developers"]
edition = "2018"
resolver = "2"
repository = "https://github.com/unicode-org/icu4x"
license-file = "LICENSE"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "include/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md"
]

[package.metadata.docs.rs]
all-features = true

[lib]
crate-type = ["cdylib", "rlib"]
path = "src/lib.rs"

[dependencies]
icu_capi = { version = "0.1", path = "../diplomat", default-features = false }


# Please keep features/cargo-all-features lists in sync with the icu_capi crate
[features]
default = ["icu_capi/default"]
provider_fs = ["icu_capi/provider_fs"]
provider_test = ["icu_capi/provider_test"]
smaller_test = ["icu_capi/smaller_test"]
deserialize_json = ["icu_capi/deserialize_json"]
deserialize_postcard_07 = ["icu_capi/deserialize_postcard_07"]
deserialize_bincode_1 = ["icu_capi/deserialize_bincode_1"]

[package.metadata.cargo-all-features]
# Omit most optional dependency features from permutation testing
skip_optional_dependencies = true
# Bench feature gets tested separately and is only relevant for CI.
# x86tiny is not relevant in normal environments,
# smaller_test gets tested on the FFI job anyway
denylist = ["bench", "smaller_test"]
