# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "zerovec-derive"
description = "Custom derive for the zerovec crate"
version = "0.9.4"
authors = ["Manish Goregaokar <manishsmail@gmail.com>"]
categories = ["rust-patterns", "memory-management", "caching", "no-std", "data-structures"]
keywords = ["zerocopy", "serialization", "zero-copy", "serde"]

edition.workspace = true
license-file.workspace = true
repository.workspace = true

[package.metadata.workspaces]
independent = true

[lib]
proc_macro = true
path = "src/lib.rs"

[dependencies]
proc-macro2 = "1.0.27"
quote = "1.0.9"
syn = { version = "2", features = ["derive", "parsing", "extra-traits"] }
synstructure = "0.13"

[dev-dependencies]
zerovec = { workspace = true, features = ["serde", "derive"] }
serde = { version = "1.0", features = ["derive"] }
zerofrom = { workspace = true }
bincode = "1.3"
serde_json = "1.0"
