# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

name:                           Coverage

on:
  push:
    branches: [ main ]

jobs:
  test:

    name:                       Coverage
    runs-on:                    ubuntu-latest

    steps:
      - uses:                   actions/checkout@v3

      ## Coverage steps

      - name: Get grcov version
        id: grcov-version
        run: |
          echo "::set-output name=hash::$(cargo search grcov | grep '^grcov =' | md5sum)"
        shell: bash
      - name: Attempt to load cached grcov
        uses: actions/cache@v3
        id: grcov-cache
        with:
          path: |
            ~/.cargo/bin/grcov
            ~/.cargo/bin/grcov.exe
          key: ${{ runner.os }}-make-${{ steps.grcov-version.outputs.hash }}
      - name: Install grcov
        if: steps.grcov-cache.outputs.cache-hit != 'true'
        run: |
          cargo +stable install grcov
  
      - uses:                   actions-rs/toolchain@v1
        with:
          toolchain:            nightly-2022-09-26
          override:             true

      - run: cargo test --all-features --no-fail-fast
        env:
          CARGO_INCREMENTAL:    '0'
          RUSTFLAGS: '-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests'
          RUSTDOCFLAGS: '-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests'


      - id:                     coverage
        uses:                   actions-rs/grcov@v0.1

      - name:                   Push grcov results to Coveralls via GitHub Action
        uses:                   coverallsapp/github-action@v2.2.1
        with:
          github-token:         ${{ secrets.GITHUB_TOKEN }}
          file:                 ${{ steps.coverage.outputs.report }}

      - name:                   Push grcov results to Codecov via GitHub Action
        uses:                   codecov/codecov-action@v3
        with:
          file:                 ${{ steps.coverage.outputs.report }}
          fail_ci_if_error:     true
