# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/master/LICENSE ).
name:                           Coverage

on:
  push:
    branches: [ master ]
  pull_request:
    branches: '*'

jobs:
  test:

    name:                       Coverage
    runs-on:                    ubuntu-latest

    steps:
      - uses:                   actions/checkout@v2

      # TODO(#315) Re-include caching that also includes the Rust version in the cache key

      ## Coverage steps

      - uses:                   actions-rs/toolchain@v1
        with:
          toolchain:            nightly
          override:             true

      - uses:                   actions-rs/cargo@v1
        with:
          command:              test
          args:                 --all-features --no-fail-fast
        env:
          CARGO_INCREMENTAL:    '0'
          RUSTFLAGS: '-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests'
          RUSTDOCFLAGS: '-Zprofile -Ccodegen-units=1 -Cinline-threshold=0 -Clink-dead-code -Coverflow-checks=off -Zpanic_abort_tests'


      - id:                     coverage
        uses:                   actions-rs/grcov@v0.1

      - name:                   Push grcov results to Coveralls via GitHub Action
        uses:                   coverallsapp/github-action@v1.0.1
        with:
          github-token:         ${{ secrets.GITHUB_TOKEN }}
          path-to-lcov:         ${{ steps.coverage.outputs.report }}
