# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/master/LICENSE ).
[package]
name = "icu_segmenter_lstm"
description = "LSTM-based segmenter for dictionary-based languages"
version = "0.1.0"
authors = ["The ICU4X Project Developers"]
edition = "2018"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license-file = "../../LICENSE"
categories = ["internationalization"]
include = [
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "Cargo.toml",
]

[dependencies]
serde = { version = "1.0", features = ["derive"] }
ndarray = { version = "0.13", features = ["serde"] }
unicode-segmentation = "1.3.0"

[dev-dependencies]
serde_json = "1.0"
# criterion = "0.3.3"

[lib]
bench = false  # This option is required for Benchmark CI

[features]
default = []
bench = []
