# This file is part of ICU4X. For terms of use, please see the file
# called LICENSE at the top level of the ICU4X source tree
# (online at: https://github.com/unicode-org/icu4x/blob/main/LICENSE ).

[package]
name = "icu_datagen"
description = "Generate data for ICU4X DataProvider"
version = "1.1.0"
authors = ["The ICU4X Project Developers"]
edition = "2021"
readme = "README.md"
repository = "https://github.com/unicode-org/icu4x"
license = "Unicode-DFS-2016"
categories = ["internationalization"]
# Keep this in sync with other crates unless there are exceptions
include = [
    "data/**/*",
    "src/**/*",
    "examples/**/*",
    "benches/**/*",
    "tests/**/*",
    "Cargo.toml",
    "LICENSE",
    "README.md",
]
default-run = "icu4x-datagen"

[package.metadata.docs.rs]
all-features = true

[dependencies]

# ICU components
icu_calendar = { version = "1.1.0", path = "../../components/calendar", features = ["datagen"] }
icu_casemapping = { version = "0.7.1", path = "../../experimental/casemapping", features = ["datagen"] }
icu_collator = { version = "1.1.0", path = "../../components/collator", features = ["datagen"] }
icu_compactdecimal = { version = "0.1.0", path = "../../experimental/compactdecimal", features = ["datagen"] }
icu_datetime = { version = "1.1.0", path = "../../components/datetime", features = ["datagen"] }
icu_decimal = { version = "1.1.0", path = "../../components/decimal", features = ["datagen"] }
icu_displaynames = { version = "0.8.0", path = "../../experimental/displaynames", features = ["datagen"] }
icu_list = { version = "1.1.0", path = "../../components/list", features = ["datagen"]}
icu_locid_transform = { version = "1.1.0", path = "../../components/locid_transform", features = ["datagen"] }
icu_normalizer = { version = "1.1.0", path = "../../components/normalizer", features = ["datagen"] }
icu_plurals = { version = "1.1.0", path = "../../components/plurals", features = ["datagen"] }
icu_properties = { version = "1.1.0", path = "../../components/properties", features = ["datagen"]}
icu_relativetime = { version = "0.1.0", path = "../../experimental/relativetime", features = ["datagen"] }
icu_segmenter = { version = "0.8.0", path = "../../experimental/segmenter", features = ["datagen", "lstm"] }
icu_timezone = { version = "1.1.0", path = "../../components/timezone", features = ["datagen"] }

# ICU provider infrastructure
icu_provider = { version = "1.1.0", path = "../core", features = ["std", "log_error_context", "datagen"]}
icu_provider_adapters = { version = "1.1.0", path = "../adapters", features = ["datagen"] }
icu_provider_blob = { version = "1.1.0", path = "../blob", features = ["export"] }
icu_provider_fs = { version = "1.1.0", path = "../fs", features = ["export"] }

# Other
cached-path = "0.5"
crlify = { version = "1.0.1", path = "../../utils/crlify"}
databake = { version = "0.1.3", path = "../../utils/databake"}
displaydoc = { version = "0.2.3", default-features = false }
elsa = "1.7"
icu_codepointtrie_builder = { version = "0.3.4", path = "../../components/collections/codepointtrie_builder" }
icu_collections = { version = "1.1.0", path = "../../components/collections", features = ["serde"] }
icu_locid = { version = "1.1.0", path = "../../components/locid", features = ["std"] }
itertools = "0.10"
lazy_static = "1"
log = "0.4"
proc-macro2 = "1.0"
quote = "1.0.9"
rayon = "1.5"
rust-format = { version = "0.3.4", features = ["token_stream"] }
serde = { version = "1.0", default-features = false, features = ["derive", "alloc"] }
serde_json = { version = "1.0", default-features = false, features = ["alloc"] }
serde-aux = "2.1.1"
syn = {version = "1.0", features = ["parsing"] }
tinystr = { version = "0.7.1", path = "../../utils/tinystr", features = ["alloc", "serde", "zerovec"], default-features = false }
toml = "0.5"
writeable = { version = "0.5.1", path = "../../utils/writeable" }
zerovec = { version = "0.9.2", path = "../../utils/zerovec", features = ["serde", "yoke"] }
zip = "0.5"

# Dependencies for "bin" feature
clap = { version = "2.33", optional = true }
eyre = { version = "0.6", optional = true }
simple_logger = { version = "1.12", default-features = false, optional = true }

[dev-dependencies]
dhat = "0.3.0"
icu = { path = "../../components/icu" }
icu_testdata = { path = "../testdata", features = ["buffer"] }

[features]
default = ["bin"]
bin = ["dep:clap", "dep:eyre", "dep:simple_logger"]

[[bin]]
name = "icu4x-datagen"
path = "src/bin/datagen.rs"
required-features = ["bin"]

[[test]]
name = "icu4x-verify-zero-copy"
path = "tests/verify-zero-copy.rs"
